#powerUpArea {
  height: 3rem;
}

#powerUpArea img {
  height: 100%;
  margin-right: 0.5rem;
}

#livesArea {
  height: 1rem;
}

#livesArea img {
  height: 100%;
  margin-right: 0.5rem;
}

.spell {
  height: 3rem;
}

.spell img {
  width: 100%;
}

.spell div {
  position: relative;
  top: 0;
  left: 0;
}

.spell p {
  color: white;
  margin: 0;
  text-align: center;
}

.spell>p {
  font-size: 2rem;
  text-transform: capitalize;
}

.spellCooldown {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 4rem;
}

.spellSelect {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.controllercol {
  margin-bottom: 1rem;
}

.modal-content .controllercol.col {
  padding: 1rem;
  border-radius: 1rem;
}

.playerScore, .totalScore {
  padding: 0.5rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.playerScore p, .totalScore p  {
  margin: 0;
  text-transform: capitalize;
}

/* label color */
 .modal-content .input-field label {
   color: white;
 }
 /* label focus color */
 .modal-content .input-field input[type=text]:focus + label, .modal-content .input-field input[type=password]:focus + label {
   color: white;
 }
 /* label underline focus color */
 .modal-content .input-field input[type=text]:focus, .modal-content .input-field input[type=password]:focus {
   border-bottom: 1px solid white;
   box-shadow: 0 1px 0 0 white;
 }
 /* valid color */
 .modal-content .input-field input[type=text].valid, .modal-content .input-field input[type=password].valid {
   border-bottom: 1px solid white;
   box-shadow: 0 1px 0 0 white;
 }
 /* invalid color */
 .modal-content .input-field input[type=text].invalid, .modal-content .input-field input[type=password].invalid {
   border-bottom: 1px solid #f44336;
   box-shadow: 0 1px 0 0 #f44336;
 }
 /* icon prefix focus color */
 .modal-content .input-field .prefix.active {
   color: white;
 }
