/*!! Own Colors !!*/

:root {
  --accent-color: #7289DA;
  /* TODO: Need to find a way to take this from class and then apply it where needed
  Cause just adding materialze classes doesn't change everything.*/
}

.dark-grey {
  background-color: #1E2124;
}

.med-grey {
  background-color: #2F3136;
}

.light-grey {
  background-color: #36393E;
}

/*!! Accent Colors !!*/

form.accented input {
  color: #ffffff;
}

form.accented button, form.accented button:hover {
  background-color: var(--accent-color);
}

form.accented input:focus:not([readonly]) {
  border-bottom-color: var(--accent-color);
  box-shadow: 0 1px 0 0 var(--accent-color);
}

form.accented input:focus:not([readonly])+label {
  color: var(--accent-color);
}

/*!! Page !!*/

body {
  display: flex;
  flex-direction: column;
}

header {
  z-index: 50;
}

header .brand-logo {
  margin-left: 15px;
}

nav i.material-icons {
  font-size: 2.5rem;
  margin-right: 15px;
}

main {
  padding: 3rem;
}

footer {
  text-align: center;
  font-style: italic;
  position: fixed;
  bottom: 0px;
  width: 100%
}

#user-options {
  margin-top: 4rem;
}
