@font-face {
 font-family: "Northwood High";
 src: url("./fonts/Northwood_High.ttf") format("truetype");
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: "Laser";
 src: url("./fonts/Laser.ttf") format("truetype");
 font-weight: normal;
 font-style: normal;
}
.laser {
 font-family: "Laser";
 font-weight: lighter;
 letter-spacing: 2.5px;
}
.northwood {
 font-family: "Northwood High";
}
.supportform{
    background-color: white;
}
/*!! Page !!*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  background-image: url('../media/header-background-condensed.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

header .brand-logo {
  margin-left: 15px;
}

nav i.material-icons {
  font-size: 2.5rem;
  margin-right: 1rem;
}

main {
  background-image: url('../media/landing-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  flex: 1 0 auto;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.row.separator {
  margin-bottom: 0;
  height: 6px;
  background: url('../media/separator.png');
  background-repeat: repeat-x;
  background-position-y: top;
  background-position-x: left;
}

.crystal-btn-container {
  position: relative;
}

.crystal-btn-link {
  display: block;
  height: 100%;
  width: 100%;
}

.btn-text {
  position: absolute;
  text-align: center;
  width: 89%;
  line-height: 4rem;
  font-size: 2rem;
  margin: 0;
}

.crystal-btn {
  width: 100%;
  height: 4rem;
}

footer {
  background-image: url('../media/footer-background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

footer img {
  height: 3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.modal {
  background-color: #35393d;
}

.modal-footer.dark-grey {
  background-color: #1E2124;
}

#user-options {
  margin-top: 4rem;
}

#username {
  margin-top: 0;
  margin-bottom: 0;
}

/* Index 4 !!*/
g{
    fill:none;
    stroke:black;
    pointer-events:all;
}

.index4{
    margin-left:auto;
    margin-right:auto;
    width: 210px;
}
#svg815,#svg825
{
    width: 50%;
    height:90%;
    display: block;
    margin-left: auto;
    margin-right:auto;
}
/* continents html page*/
#continents2
{
    width: 50%;
    height:90%;
    margin-left: 225px;
    margin-right:auto;
}
g#oceania:hover, #leftupperIsland:hover, #rightUpperIsland:hover, #rightDown:hover{
fill:#603913;
cursor: pointer;
}
/*-----------------end continents------------*/
#qrcode, #qrcode img {
  width:100px;
  height:100px;
  margin-left:auto;
  margin-right:auto;
}

/*maptextured html page*/

g#toBreakersBay:hover, g#toAlorum:hover, g#selectLighthouse:hover,g#selectMines:hover,g#selectRaider:hover,g#selectWargest:hover{
    cursor: pointer;
}


/*--------------End Map textured--------------*/
#svg{

    width: 100%;
    height:auto;
    display:block;

}

g#Australia:hover,g#Africa:hover,g#Asia:hover, g#Europe:hover,g#NorthAmerica:hover, g#CentralAmerica:hover,g#SouthAmerica:hover, g#GreenlandIceland:hover{
    fill: blue;
}

p.chapter{
    font-size: 1rem;
    line-height: 1.3rem;
}
#wrapper{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #A2846A;
    box-shadow: black 20px 20px 10px;
}
/*End Index 4 !!*/
/*BEGIN CAMPAIGN SELECTION*/
.v-header{
    height:100vh;
    display:flex;
    align-items: center;
    color:white;
}
.container{
    max-width: 960px;
    padding-left:1rem;
    padding-right:1rem;
    margin: auto;
    text-align:center;
}
.fullscreen-video-wrap{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.fullscreen-video-wrap video{
    min-height: 100%;
    min-width: 100%;
}
.header-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #225470;
    z-index: 10;
    opacity: 0.50;
}
.header-content{
    z-index: 11;
}
/*END CAMPAIGN LANDING PAGE*/
#selectController{
    margin-top: 5rem;
    display:none;
    background-color: white;
    height: 27rem;
}

.controllercol{
    background-color: white;
}

.controllercol:hover{
    background-color: transparent;
    cursor:pointer;
}

.cardarea{
    background-image: url("../media/footer-background.png");
    opacity: 0.6;
    background-repeat: no-repeat;
    background-position: -770px -36px;
    max-width: 50rem;
    height:10rem;
    border-style: solid;
    border-width:1px;
    border-color: #BA8017;
}

.succesor{
    margin-left:50rem;
}

.cardarea:nth-of-type(even){
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.titleInfo{
    text-shadow: 5px 5px black;
}

.premier{
    opacity: 1.0;
}
